//!breadcrumbs=====

.card {
	&__breadcrumbs {}
}

.breadcrumbs-card {
	padding-top: 90px;
	@media (max-width:520px){
		padding-top: 60px;
	};
	&__cont{
		display: flex;
		justify-content: space-between;
		padding-top: 19px;
		padding-bottom: 19px;
		@media (max-width:620px){
			flex-direction: column;
			gap: 10px;
		};
	}
	&__body {
	}

	&__elem {}

	&__elem--current {}

	&__buttons {
		@media (max-width:620px){
			display: flex;
			justify-content: space-between;
		};
	}

	&__prev,
	&__next {
		background: none;
		font-size: 10px;
		font-weight: 700;
		text-transform: uppercase;
		color: #858585;
		&:hover{
			text-decoration: underline;
		}
		&--active {
			color: #151515;
		}
	}


	&__next {
		margin-left: 20px;
	}
}

//!======card-product============


.product-card {
	position: relative;
	padding-top: 28px;
	@media (max-width:620px){
		padding-top: 0px;
	};
	&__body{
		display: grid;
		grid-template-columns: 55% auto;
		position: relative;
		column-gap: 13%;
		@media (max-width:1440px){
			column-gap: 5%;
		};
		@media (max-width:768px){
			display: flex;
			flex-direction: column;
			row-gap: 15px;
		};
	}

	&__gallery {}
	&__info {}
}

.gallery-card {
	display: flex;
	gap: 15px;

	&__preview {
		flex: 0 0 10%;
		align-self: flex-start;
	}


	&__main {
		flex: 0 1 90%;
		position: relative;
		display: block;
		@media (max-width:768px){
			display: none;
		};
		
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
			@media (max-width:1024px){
				height: auto
			};
		}
	}
}

.preview-card {
	display: flex;
	flex-direction: column;
	gap: 14px;
	@media (max-width:768px){
		flex-direction: row;
		gap: 0;
	};
	&__img {
		// width: 100%;
		// height: 100%;
		
		img{
			width: 100%;
			height: 100%;
			// min-height: 90px;
			object-fit: cover;
		}
		&--chosen{
			border: 1px solid #cccccc;
			box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
			@media (max-width:768px){
				border: none;
				box-shadow: none;
			};
		}
	}
}
.dots,
.dot,
.slider-buttons {
	display: none;
}

@media (max-width:768px){
	.gallery-card {
		display: block;
		overflow: hidden;
		position: relative;
	}
	.dots {
		position: absolute;
		bottom: 0;
		left: 50%;
		display: flex;
		gap: 6px;
		transform: translateX(-50%);
		padding-bottom: 10px;
	}
	.dot {
		display: inline-block;
		width: 8px;
		height: 8px;
		opacity: 0.5;
		background-color: #858585;
		border: none;
		border-radius: 50%;
	}
	.dot {
		&.active {
			opacity: 1;
			background-color: #454545;
		}
	}

	.slider-buttons{
		position: absolute;
		width: 100%;
		bottom: 50%;
		padding: 0 10px;
		display: flex;
		justify-content: space-between;
	}
	.prev,
	.next{
		position: relative;
		width: 30px;
		height: 30px;
		background: none;
		background-color: #eee;
		border-radius: 50%;
		
		&::before{
		content: '\276F';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: #151515;
		}
		&.disable{
			opacity: 0.5;
		}
	}
	.prev{
		&::before{
		transform: rotate(180deg)translate(50%, 50%);
			
		}
	}
};

.info-card {
	padding: 57px 0 24px 0;
	@media (max-width:1080px){
		padding: 0;
	};
	&__name {
		font-size: 24px;
		color: #151515;
		margin-bottom: 15px;
		margin-top: 19px;
	}

	&__reviews {
		span{
			color: #858585;
			margin-left: 5px;
		}
	}

	&__price {
		margin: 28px 0;
		font-size: 24px;
		span{
			font-size: 16px;
			font-weight: 500;
		}
	}

	&__descr {
		color: #454545;
		line-height: 1.5;
		margin-bottom: 56px;
		@media (max-width:1080px){
			margin-bottom: 25px;
		};
	}
}

.product-info {
	&__color {}

	&__size {}

	&__buttons {

	}

	&__after {}
}

.color-info {
	margin-bottom: 29px;
	&__label {
		font-size: 10px;
		font-weight: 700;
		text-transform: uppercase;
		color: #858585;
		margin-right: 5px;
		margin-bottom: 14px;
	}

	&__span {
		color: #151515;
		display: inline-block;
		margin-left: 2px;
	}

	&__buttons {
		display: flex;
		gap: 15px;
		@media (max-width:1080px){
			flex-wrap: wrap;

		};
		// >*:not(:last-child) {
		// 	margin-right: 10px;
		// }
	}

	&__button {
		position: relative;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		&::before{
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 32px;
			height: 32px;
			border: 1px solid #ccc;
			border-radius: 50%;
			transition: border 0.3s ease 0s;
		}
		&:hover{
			&::before{
			content: '';
				border: 1px solid currentColor;
			}
		}

		&--selected {
			&::before {
				content: '';
				border: 1px solid currentColor;
			}
		}
	}
}

.size-info {
	margin-bottom: 50px;
	@media (max-width:1080px){
		margin-bottom: 25px;
	};
	&__top {
		display: flex;
		justify-content: space-between;
		margin-bottom: 14px;
	}

	&__label {
		font-size: 10px;
		font-weight: 700;
		text-transform: uppercase;
		color: #858585;
	}
		&__span {
			color: #151515;
			margin-left: 2px;
			display: inline-block;
		}

	&__charts {
		font-size: 10px;
		font-weight: 700;
		text-transform: uppercase;
		color: #858585;
	}
	&__stepper {}

	&__buttons {
		display: flex;
		justify-content: space-between;
		gap: 5px;
		margin-bottom: 14px;
		@media (max-width:1080px){
			flex-wrap: wrap;
			justify-content: flex-start;
		};
	}

	&__button {
		height: 32px;
		border: 1px solid #cccccc;
		color: #858585;
		padding: 0 12px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		background: none;
		transition: all 0.3s ease 0s;
	}

	&__button--selected {
		color: #151515;
		border: 1px solid #151515;
	}

	&__clear {
		display: flex;
		align-items: center;
		gap: 4px;
		font-weight: 700;
		font-size: 10px;
		text-transform: uppercase;
		color: #d24242;
		background: none;
	}
}

.stepper {
	height: 58px;
	border: 1px solid #cccccc;
	display: flex;
	align-items: center;
	transition: border 0.3s ease 0s;
	&:hover{
		border: 1px solid #454545;
		svg{
			fill: #151515;
		}
	}

	&__minus,
	&__plus {
		width: 44px;
		height: 100%;
		background: none;
		svg{
			width: 16px;
			height: 16px;
			fill: #858585;
			stroke: #858585;
			transition: all 0.3s ease 0s;
		}
		&:hover{
			svg{
				fill: #151515;
				stroke: #151515;
			}
		}
		&--disabled {
			pointer-events: none;
			svg{
				fill: #ccc;
				stroke: #ccc;
			}
		}
	}

	&__input {
		text-align: center;
		flex: 1 1 auto;
		font-weight: 700;
		text-transform: uppercase;
		color: #151515;
		user-select: none;
	}

	&__plus {}
}

.info-buttons {
	margin-bottom: 60px;
	>*:not(:last-child) {
		margin-bottom: 14px;
	}
}

.info-button {
	
	&__btn {
		min-width: 100%;
		display: flex;
		text-transform: uppercase;
		font-size: 10px;
		font-weight: 700;
		height: 58px;
	}
}

.after-info {
	&__tags {
		display: flex;
		justify-content: space-between;
		margin-bottom: 18px;
		p{
			font-weight: 700;
			text-transform: uppercase;
			font-size: 10px;
			color: #858585;
		}
		
		span{
			color: #151515;
		}
	}

	&__social {}
}

.social-info {
	display: flex;
	align-items: center;
	gap: 12px;
	span{
		font-size: 10px;
		font-weight: 700;
		text-transform: uppercase;
		color: #858585;
	}
	&__icons {}
}
//!==marketing===========
.card-marketing{
	top: 35%;
	left: 1%;
	@media (max-width:768px){
		top: 20%;
	};
}
//!===slidebar===================


.sliderbar {
	padding-top: 100px;

 	&__body {
		display: flex;
		gap: 127px;
		@media (max-width:1024px){
			gap: 5%;
		};
		@media (max-width:768px){
			flex-direction: column;
			row-gap: 25px;
		};
	}
	&__left {
		flex: 0 0 16%;
		max-height: 204px;
	}

	&__right {
		flex: 1 1 auto;
	}
}

.left-slidebar {
	display: flex;
	flex-direction: column;
	gap: 50px;
	margin-right: 20px;
	@media (max-width:768px){
		margin-right: 0;
		// margin-bottom: 20px;
		padding-bottom: 20px;
	};
	&__link {
		font-size: 15px;
		font-weight: 700;
		color: #858585;
		&--active {
			color: #151515;
			pointer-events: none;
		}
	}
	@media (max-width:768px){
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap: 10px;
		overflow: auto;
		li{
			padding: 5px 10px;
		}
	};
}

.right-sliderbar {
	&__content {
		display: none;
		padding-right: 120px;
		>*:not(:last-child) {
				margin-bottom: 18px;
			}
		p {
			line-height: 2;
		}

		&--active {
			display: block;
		}
		@media (max-width:1024px){
			padding-right: 0;
		};
	}
}


.simplebar-track {

	&.simplebar-vertical {
		width: 3px!important;
		background-color: #ccc;
	}
	.simplebar-scrollbar{
		background-color: #151515;
	}
	// @media (max-width:768px){
	// 	&.simplebar-horizontal {
	// 		visibility: visible !important;
	// 		height: 3px !important;
	// 		background-color: #ccc;
	// 		.simplebar-scrollbar {
	// 			display: block;
	// 				background-color: #151515;
	// 				height: 3px;
	// 			}
	// 	}
	// };
}

//!====related====
.card {
	&__related {}
}

.related {
	padding-top: 100px;
	padding-bottom: 100px;
	@media (max-width:768px){
		padding-bottom: 0px;
	};
	&__title {
		font-size: 24px;
		margin-bottom: 44px;
	}

	&__body {
		.swiper-pagination{
			text-align: left;
		}
		.swiper-pagination-bullet{
			&-active{
				&::before{
				background: #eee;
				}
			}
		}
	}

	&__grid {
		margin-bottom: 45px;
		@media (max-width:450px){
			margin-bottom: 20px;
		};
	}
}


.grid-related {
	&__item {}

	&__image {}

	&__content {}
}



.swiper-pagination {}

.cover {
	&__pagination {}
}