
.catalog-wrapper{
	.header {
			.container--catalog {
				transition: margin-top 0.3s ease 0s;
				margin-top: 40px;
			}
		}
}


.header {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 100;

	&__container{
		position: relative;
		height: 90px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width:992px){
			justify-content: center;
		};
		@media (max-width:520px){
			height: 60px;
		};
	}
	&__menu {}

	&__logo {
	position: absolute;
	top: 33px;
	left: 50%;
	transform: translateX(-50%);
		@media (max-width:992px){
			left: 30px;
			top: 33px;
			transform: translateX(0);
			img{
				height: 18px;
			}
		};
		@media (max-width:550px){
			img{
				max-width: 80px;
			}
		};
		@media (max-width:520px){
			top: 18px;
		};
		@media (max-width:425px){
			left: 15px;
		};
		@media (max-width:375px){
			max-width: 14px;
			overflow: hidden;
		};
	}
	&__icons {

	}
}

.menu {
	&__icon {}

	&__body {}

	&__list {
		gap: 25px;
	}

	&__item {}

	&__link {

	}

}

.icons-header {
	display: flex;
	align-items: start;
	gap: 25px;
	svg{
		stroke: #151515;
		width: 16px;
		height: 16px;
	}
	@media (max-width:992px){
		gap: 35px;
		svg{
			width: 18px;
			height: 18px;
		}
	};
	@media (max-width:550px){
		gap: 30px;
	};


	&__cart {
		display: inline-flex;
		align-items: center;
	}
}

.search-icon {
	margin-right: -5px;
	display: flex;
	align-items: center;
	gap: 5px;
	cursor: pointer;
	&__svg {
		width: 16px;
		height: 16px;
		cursor: pointer;
	}

	&__input {
		width: 0px;
		transition: all 0.3s ease 0s;
		background: transparent;
		border-bottom: 1px solid #151515;
		&::placeholder{
			color: #626161;
			font-size: 16px
		}
		&:focus{
			width: 100px;
		}
	}
}
