

.header {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 100;
	
	&__container{
		position: relative;
		height: 90px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width:767px){
			justify-content: center;
		};
	}
	&__menu {}

	&__logo {
		@media (max-width:767px){
			position: fixed;
			left: 20px;
			top: 33px;
			img{
				height: 16px;
			}
		};
	}

	&__icons {

	}
}

.menu {
	&__icon {}

	&__body {}

	&__list {
		gap: 25px;
	}

	&__item {}

	&__link {

	}

}



.icons-header {
	display: flex;
	align-items: start;
	gap: 25px;
	height: 16px;
	svg{
		stroke: #151515;
		width: 16px;
		height: 16px;
	}
	@media (max-width:767px){

		gap: 35px;
		svg{
			width: 18px;
			height: 18px;
		}
	};
	// &__search,
	// &__cart,
	&__login {
		font-size: 16px;
		all: initial;
	}

	&__cart {
		display: inline-flex;
		align-items: center;
	}
}

.search-icon {
	margin-right: -5px;
	display: flex;
	align-items: center;
	gap: 5px;
	&__svg {
		width: 16px;
		height: 16px;
		cursor: pointer;
	}

	&__input {
		font-size: 16px;
		width: 0px;
		padding: 2px 0;
		transition: all 0.3s ease 0s;
		background: transparent;
		border-bottom: 1px solid #151515;
		&::placeholder{
			color: #626161;
			font-size: 16px
		}
		&:focus{
			width: 100px;
		}
	}
}