@import "fonts";
@import "reset";
@import "burger";
@import "header";
@import "main";

//ШРИФТЫ===========================================
//&display=swap&subset=cyrillic-ext

//ШРИФТ ПО УМОЛЧАНИЮ===============================
// $fontfamily:"Lato";
//Переменные=======================================
$minwidth: 320px;
$mv: 1840;
$md1: $mv+12;
$md2: 992.98;
$md3: 767.98;
$md4: 479.98;

//Основная сетка=====(ОСТОРОЖНЕЕ С WIDTH 100%)=========
.container {
	max-width: $mv+px;
	margin: 0 auto;
	padding: 0 10px;
	// width: 100%;

	// @media (max-width:$md1+px) {
	// 	max-width: 970px;
	// }

	// @media (max-width:$md2+px) {
	// 	max-width: 750px;
	// }

	// @media (max-width:$md3+px) {
	// 	max-width: none;
	// 	padding: 0 10px;
	// }
}

//КОНТЕЙНЕРЫ=========================================
body{
	font-family: Jost;
	font-weight: 500;
	font-size: 13px;
	color: #151515;
	line-height: 1.2;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
}

main {
	flex: 1 1 auto;
}

//для бугрера
body._lock {
	overflow: hidden;
}

//ТЭГИ===============================================
.ibg {
	position: relative;

	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

//!==HEADER==========================================================================//
//!============================================================================//

//!============================================================================//
//!============================================================================//
//!============================================================================//
//!============================================================================//
//!============================================================================//
//!============================================================================//
//!============================================================================//
//!============================================================================//
//!============================================================================//
//!============================================================================//
//!============================================================================//
//!==FOOTER==========================================================================//