@import "fonts";
@import "reset";


//ШРИФТЫ===========================================
//&display=swap&subset=cyrillic-ext

//ШРИФТ ПО УМОЛЧАНИЮ===============================
// $fontfamily:"Lato";
//Переменные=======================================
$minwidth: 320px;
$mv: 1840;
$md1: $mv+12;
$md2: 992.98;
$md3: 767.98;
$md4: 479.98;

//Основная сетка=====(ОСТОРОЖНЕЕ С WIDTH 100%)=========
.container {
	
	margin: 0 auto;
	padding: 0 10px;
	// width: 100%;

	&--general{
		max-width: $mv+px;

		@media (max-width:$md1+px) {
				max-width: 1400px;
			}
		@media (max-width:1440px){
			max-width: 1250px;
		};
		@media (max-width:1260px){
			max-width: none;
			padding: 0 20px;
		};
		@media (max-width:768px){
			padding: 0 10px;
		};
	}

	&--catalog{
		max-width: 1346px;
		@media (max-width:1440px){
			max-width: 1250px;
		};
		@media (max-width:1300px){
			max-width: 1100px;
		};
		@media (max-width:1120px){
			max-width: none;
			padding: 0 30px;
		};
		@media (max-width:425px){
			padding: 0 15px;
		};
	}
}

//КОНТЕЙНЕРЫ=========================================
html{
	scroll-behavior: smooth;
}

body{
	font-family: Jost;
	font-weight: 500;
	font-size: 13px;
	color: #151515;
	line-height: 1.2;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
}

main {
	flex: 1 1 auto;
}

//для бугрера
body._lock {
	overflow: hidden;
	
	.space__cover {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 1;
		z-index: 99;
		pointer-events: auto;
		cursor: pointer;
	}
}
.space__cover {
	pointer-events: none;
	opacity: 0;
}

//!==GENERAL CLASSES==============================================//
.ibg {
	position: relative;

	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

.quantity{
	width: 16px;
	height: 16px;
	background-color: #151515;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 10px;
	font-weight: 700;
	margin-left: 4px;
}

//меню
.nav{
	&__list {
		display: flex;
	}
	&__link{
		position: relative;
		font-size: 15px;
		color: inherit;
		transition: all 0.3s ease 0s;
	&::after {
		content: '';
		position: absolute;
		width: 0%;
		height: 2px;
		bottom: -3px;
		left: 50%;
		background-color: #151515;
		transition: all 0.3s ease 0s;
	}
	&:hover {
		&::after {
			width: 100%;
			left: 0;
		}
	}
}
	&__link--current {
		&::after {
			width: 100%;
			left: 0;
		}
	}
	&__link--white{
		color: #ffff;
		&::after{
		content: '';
			background-color: #ffffff;
		}
	}
}

//карточка товара
.block-products {
	
	&__item {
		position: relative;
		display: grid;
		grid-auto-flow: row;
		grid-template: auto 1fr / 1fr;
		transition: all 0.3s ease 0s;

		&:hover {
			.content-block__price {
				transform: translateY(-100%);
			}

			.content-block__tocart {
				transform: translateY(-100%);
			}
		}
	}

	&__img {
		margin-bottom: 25px;
		position: relative;
		padding: 0 0 126.3% 0;

		img{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
			transition: opacity 0.5s ease 0s;
		}
	}

	&__content {
	}
	&__sale{
		position: absolute;
		z-index: 2;
		top: 5%;
		left: 5%;
		height: 24px;
		border: 2px solid #151515;
		font-size: 10px;
		font-weight: 900;
		text-transform: uppercase;
		color: #111111;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 8px;
	}
}
.fadein{
	opacity: 1;
}
.fadeout{
	opacity: 0;
}
//описание товара
.content-block {
	padding: 0 5px;

	&__label {
		font-weight: 900;
		text-transform: uppercase;
		color: #111111;
		font-size: 10px;
		padding-left: 20px;
		background-size: 12px;
		margin-bottom: 13px;
	}

	&__name {
		font-size: 13px;
		color: #454545;
		margin-bottom: 8px;
	}
	&__custom {
		margin-bottom: 18px;
		height: 25.6px;
		overflow: hidden;
	}

	&__price {
		font-weight: 700;
		color: #151515;
		font-size: 13px;
		transition: transform 0.5s ease 0s;
		padding: 5px 0;
		span{
			font-weight: 500;
			color: #959595;
			margin-left: 5px;
			text-decoration: line-through;
		}
	}
	&__tocart {
		font-size: 13px;
		font-weight: 700;
		text-transform: uppercase;
		background: none;
		padding: 5px 0;
		transition: transform 0.5s ease 0s;
		&:hover{
			text-decoration: underline;
		}
	}

		&__label--new{
			background: url('@img/thunder.png') left / 12px 12px no-repeat;
		}
		&__label--best{
			background: url('@img/quality.png') left / 12px 12px no-repeat;
		}
		&__label--hot{
			background: url('@img/fire.png') left / 12px 12px no-repeat;
		}
		&__label--top{
			background: url('@img/star.png') left / 12px 12px no-repeat;
		}
		&__label--only {
			background: url('@img/low.png') left / 12px 12px no-repeat;
		}
}

//кнопки
.block {
	&__button {
		font-size: 13px;
		font-weight: 500;
		height: 48px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		padding: 2px 45px;
		transition: all 0.3s ease 0s;
		@media (max-width:550px){
			max-width: 250px;
		};
	}

	&__button--black {
		background: #151515;
		color: #ffffff;
		border: 1px solid #151515;
		&:hover{
			background-color: rgba(255, 255, 255, 0.0);
			border: 1px solid #151515;
			color: #151515;
		}
	}

	&__button--white {
		background-color: rgba(255, 255, 255, 0.0);
		border: 1px solid #151515;
		color: #151515;
		&:hover{
			background: #151515;
			color: #ffffff;
		}
	}

	&__button--gray {
		background-color: #f2f2f2;
		border: 1px solid #f2f2f2;
		color: #151515;

		&:hover {
			background: #151515;
			color: #ffffff;
		}
	}
}

//селект кастомный
.custom-select {
	position: relative;
	text-transform: uppercase;

	&--catalog {
		font-size: 10px;
		min-width: 150px;
		font-weight: 700;
		.custom-select__top{
			padding: 14px 5px;
		}
	}

	&--footer {
		position: relative;
		font-size: 13px;
		font-weight: 400;
		
		.custom-select__top {
			border-bottom: 0px;
			padding: 0px 20px 0px 5px;
			&::before {
				font-size: 13px;
				font-weight: 500;
				color: #151515;
			}
		}
		.custom-select__dropdown {
			overflow: auto;
		}
	}

	&__top {
		position: relative;
		border-bottom: 1px solid #e5e5e7;
		cursor: pointer;

		&::before {
			content: '\276F';
			position: absolute;
			right: 5px;
			font-size: 10px;
			color: #858585;
			display: block;
			transform: rotate(90deg);
			transition: all 0.3s ease 0s;
		}
	}

	&__dropdown {
		display: none;
		padding: 10px 5px 5px 5px;
		position: absolute;
		width: 100%;
		top: 100%;
		left: 0;
		z-index: 10;
		background: #FFF;
		overflow: auto;
	}

	&__item {
		cursor: pointer;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	&__span {
		color: #858585;
		margin-right: 14px;
	}
}

.custom-select--active {
	.custom-select__top {
		&::before {
			transform: rotate(-90deg);
		}
	}

	.custom-select__dropdown {
		display: block;
		overflow: auto;
	}
}

//хлебные крошки
.breadcrumbs-block {

	&__body{}

	&__elem{
		position: relative;
		font-size: 10px;
		text-transform: uppercase;
		color: #858585;
		&:not(:last-child) {
			margin-right: 28px;
	
			&::before {
				content: '/';
				position: absolute;
				font-size: 10px;
				top: 50%;
				transform: translateY(-50%);
				right: -20px;
			}
			}
	}
	&__elem--current{
		color: #151515;
	}
}

.to-top{
	position: fixed;
	width: 48px;
	height: 48px;
	right: 2%;
	bottom: 5%;
	box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	display: flex;
	justify-content: center;align-items: center;
	background: url("@img/arrow.png") center no-repeat;
	transition: transform 0.3s ease 0s;
	&:hover{
		transform: translateY(7px);
	}
}
//!==HEADER==========================================================================//
//!============================================================================//
@import "header";
@import "burger";
@import "main";
@import "catalog";
@import "catalog-burger";
@import "card";
@import "footer";
// @import "copycard";
//!============================================================================//
//!============================================================================//
//!============================================================================//
//!============================================================================//
//!============================================================================//
//!============================================================================//
//!============================================================================//
//!============================================================================//
//!============================================================================//
//!============================================================================//
//!============================================================================//
//!==FOOTER==========================================================================//